<div class="sub-container1">
  <div class="navbar">
      <div class="logo">
          <a href="#"><img src="/assets/images/Logo-2.png" ></a>
      </div>


      <div style="width:60%">

      </div>


      <nav>
          <ul>
              <li><a href="#">COURSES</a></li>
              <li><a href="#">MY WISHLIST</a></li>
              <li><a href="cart.html"><img src="/assets/images/cart.svg" width="30px" height="30px"></a></li>
              <li><a href="profile.html"><img src="/assets/images/profile.svg" width="30px" height="30px"></a></li>
          </ul>
      </nav>

  </div>
</div>
